In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dalat.csv')
df

,City,Diện tích,Đồ vệ sinh cá nhân miễn phí,Vòi sen,Áo choàng tắm,Két an toàn,Nhà vệ sinh,Khăn tắm,Bàn làm việc,Khu vực tiếp khách,...,Đài radio,Khu vực ăn uống ngoài trời,Phòng xông hơi,Toilet chung,Bàn ghế ngoài trời,Bể sục,Hồ bơi riêng,Sân trong,Hướng nhìn sân trong,price
0,Da Lat,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,399.593
1,Da Lat,16 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,399.593
2,Da Lat,28 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,599.390
3,Da Lat,20 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,1.065.596
4,Da Lat,35 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,799.187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3524,Da Lat,34 m²,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,522.340
3525,Da Lat,36 m²,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,598.682
3526,Da Lat,TV màn hình phẳng,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,900.000
3527,Da Lat,30 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,212.511
3528,Da Lat,55 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,425.023

In [3]:
df.drop_duplicates(inplace=True, ignore_index=True)

In [4]:
df.duplicated().sum()

0

In [5]:
df.drop(df[df['Diện tích'].str.find('m²') == -1].index,inplace=True)

In [6]:
df[df['Diện tích'].str.find('m²') == -1]

Empty DataFrame
Columns: [City, Diện tích, Đồ vệ sinh cá nhân miễn phí, Vòi sen, Áo choàng tắm, Két an toàn, Nhà vệ sinh, Khăn tắm, Bàn làm việc, Khu vực tiếp khách, TV, Dép, Tủ lạnh, Điện thoại, Hệ thống sưởi, Máy sấy tóc, Sàn trải thảm, Ấm đun nước điện, Truyền hình cáp, Dịch vụ báo thức, Tủ hoặc phòng để quần áo, Giá treo quần áo, Nhìn ra thành phố, Bồn tắm, Điều hòa không khí, Phòng tắm riêng, TV màn hình phẳng, Hệ thống cách âm, Minibar, WiFi miễn phí, Ghế sofa, Máy fax, Phòng thay quần áo, Nhìn ra hồ bơi, Bếp, Máy giặt, Bồn tắm hoặc Vòi sen, Đồng hồ báo thức, Bàn ăn, Bồn tắm spa, Ổ điện gần giường, Toilet phụ, Dịch vụ báo thức, Giấy vệ sinh, Phòng tắm riêng trong phòng, Tiện nghi ủi, Giường cực dài (> 2 mét), Bếp nhỏ, Khu vực phòng ăn, Tầm nhìn ra khung cảnh, Truyền hình vệ tinh, Bàn ủi, Ban công, Nhìn ra sông, Quyền sử dụng Executive Lounge, Sàn lát gỗ, Ra trải giường, Không gây dị ứng, Máy pha trà/cà phê, Khăn tắm/Bộ khăn trải giường (có thu phí), Máy sấy quần áo, Nhìn ra địa danh nổi tiếng, Phòng tắm phụ, Có phòng thông nhau qua cửa nối, Chậu rửa vệ sinh (bidet), Lối vào riêng, Các tầng trên đi lên bằng thang máy, Xe lăn có thể đi đến mọi nơi trong toàn bộ khuôn viên, Nhìn ra vườn, Máy vi tính, Giường sofa, Giá phơi quần áo, Két an toàn cỡ laptop, Giường xếp, Quạt máy, Chăn điện, Sản phẩm lau rửa, Ghế cao dành cho trẻ em, Cửa an toàn cho trẻ nhỏ, Máy pha Cà phê, Sàn lát gạch/đá cẩm thạch, Bàn ủi li quần, Hoàn toàn nằm ở tầng trệt, Các tầng trên chỉ lên được bằng cầu thang, Nắp che ổ cắm điện an toàn, Đồ bếp, Đầu đĩa CD, Máy điều hòa độc lập cho từng phòng, Nước rửa tay, Đầu đĩa DVD, Hồ bơi trên sân thượng, Ổ cắm cho iPod, Hồ bơi có tầm nhìn, Trò chơi board game/giải đố, Sách,  đĩa DVD và nhạc cho trẻ em, Có lắp đặt máy lọc không khí, Thiết bị báo carbon monoxide, Lò vi sóng, Máy nướng bánh mỳ, ...]
Index: []

[0 rows x 113 columns]

In [7]:
df.loc[:, ['Ổ điện gần giường', 'Không gây dị ứng', 'Nắp che ổ cắm điện an toàn', 'Ổ cắm cho iPod', 'Giấy vệ sinh']]

,Ổ điện gần giường,Không gây dị ứng,Nắp che ổ cắm điện an toàn,Ổ cắm cho iPod,Giấy vệ sinh
1,1,0,0,0,1
2,1,0,0,0,1
3,1,0,0,0,1
4,1,0,0,0,1
5,1,0,0,0,1
...,...,...,...,...,...
3234,1,0,0,0,1
3235,1,0,0,0,1
3236,1,0,0,0,1
3238,1,0,0,0,1
3239,1,0,0,0,1

In [8]:
# Dịch vụ báo thức2
drop_cols = ['Ổ điện gần giường', 'Không gây dị ứng', 'Nắp che ổ cắm điện an toàn', 'Ổ cắm cho iPod', 'Giấy vệ sinh', 'Dép', 'Dịch vụ báo thức', 'Đồng hồ báo thức', 'Ra trải giường', 'Lối vào riêng', 'Chăn điện', 'Sản phẩm lau rửa', 'Hoàn toàn nằm ở tầng trệt', 'Đầu đĩa CD', 'Nước rửa tay', 'Đầu đĩa DVD', ' đĩa DVD và nhạc cho trẻ em', 'Thiết bị báo carbon monoxide', 'Đài radio']
df.drop(drop_cols, axis=1, inplace=True)

In [9]:
len(df.iloc[0, :])

94

In [10]:
df['Diện tích'] = df['Diện tích'].str[:-3]
df['Diện tích'] = pd.to_numeric(df['Diện tích'], errors='coerce')
df['Diện tích']

1       16
2       28
3       20
4       35
5       35
        ..
3234    32
3235    34
3236    36
3238    30
3239    55
Name: Diện tích, Length: 2804, dtype: int64

In [11]:
df['price'] = df['price'].str.replace('.', '')
df['price'] = pd.to_numeric(df['price'],errors='coerce')
df['price']

1        399593
2        599390
3       1065596
4        799187
5       1065596
         ...
3234     365638
3235     522340
3236     598682
3238     212511
3239     425023
Name: price, Length: 2804, dtype: int64

In [12]:
len(df.index)

2804

In [13]:
col1 = 'Truyền hình cáp'
col2 = 'Truyền hình vệ tinh'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Truyền hình cáp, Length: 2804, dtype: int64

In [14]:
col1 = 'Máy pha trà/cà phê'
col2 = 'Máy pha Cà phê'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Máy pha trà/cà phê, Length: 2804, dtype: int64

In [15]:
col1 = 'Bếp'
col2 = 'Bếp nhỏ'
col3 = 'Đồ bếp'
col4 = 'Bếp nấu'
col5 = 'Lò vi sóng'
col6 = 'Máy nướng bánh mỳ'
col7 = 'Lò nướng'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0 and df[col7][i] == 0:
        pass
    else:
        if df[col5][i] == 1:
            if df[col6][i] == 1:
                if df[col7][i] == 1:
                    df[col1][i] = 3
                else:
                    df[col1][i] = 2
            else:
                df[col1][i] = 1
        else:
            df[col1][i] = 1


df.drop([col2, col3, col4, col5, col6, col7], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    0
3235    0
3236    0
3238    0
3239    0
Name: Bếp, Length: 2804, dtype: int64

In [16]:
col1 = 'Vòi sen'
col2 = 'Bồn tắm'
col3 = 'Bồn tắm hoặc Vòi sen'
col4 = 'Bồn tắm spa'
col5 = 'Phòng tắm riêng trong phòng'
col6 = 'Phòng tắm phụ'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0:
        df[col1][i] = 1
    else:
        if df[col2][i] == 1 or df[col3][i] == 1 or df[col5][i] == 1 or df[col6][i] == 1:
            df[col1][i] = 2
        elif df[col4][i] == 1:
            df[col1][i] = 3
        else:
            df[col1][i] = 1


df.drop([col2, col3, col4, col5, col6], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    2
3235    2
3236    2
3238    2
3239    2
Name: Vòi sen, Length: 2804, dtype: int64

In [17]:
col1 = 'Két an toàn'
col2 = 'Két an toàn cỡ laptop'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    1
3235    1
3236    1
3238    0
3239    0
Name: Két an toàn, Length: 2804, dtype: int64

In [18]:
col1 = 'Nhà vệ sinh'
col2 = 'Toilet phụ'
col3 = 'Toilet chung'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Nhà vệ sinh, Length: 2804, dtype: int64

In [19]:
col1 = 'TV'
col2 = 'TV màn hình phẳng'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: TV, Length: 2804, dtype: int64

In [20]:
col1 = 'Quạt máy'
col2 = 'Điều hòa không khí'
col3 = 'Hệ thống sưởi'
col4 = 'Máy điều hòa độc lập cho từng phòng'
col5 = 'Có lắp đặt máy lọc không khí'
col6 = 'Lò sưởi'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0:
        pass
    else:
        if df[col2][i] == 1 or df[col4][i] == 1:
            df[col1][i] = 2
        if df[col3][i] == 1 or df[col6][i] == 1:
            df[col1][i] = 3
        if df[col5][i] == 1:
            df[col1][i] = 4


df.drop([col2, col3, col4, col5, col6], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       2
2       2
3       2
4       2
5       2
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Quạt máy, Length: 2804, dtype: int64

In [21]:
col1 = 'Sàn trải thảm'
col2 = 'Sàn lát gạch/đá cẩm thạch'
col3 = 'Sàn lát gỗ'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        if df[col2][i] == 1:
            df[col1][i] = 2
        if df[col3][i] == 1:
            df[col1][i] = 3

df.drop([col2, col3], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       2
2       2
3       2
4       2
5       2
       ..
3234    3
3235    3
3236    3
3238    0
3239    0
Name: Sàn trải thảm, Length: 2804, dtype: int64

In [22]:
col1 = 'Tủ hoặc phòng để quần áo'
col2 = 'Giá treo quần áo'
col3 = 'Phòng thay quần áo'
col4 = 'Giá phơi quần áo'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3, col4], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Tủ hoặc phòng để quần áo, Length: 2804, dtype: int64

In [23]:
col1 = 'Nhìn ra thành phố'
col2 = 'Nhìn ra hồ bơi'
col3 = 'Tầm nhìn ra khung cảnh'
col4 = 'Nhìn ra sông'
col5 = 'Nhìn ra địa danh nổi tiếng'
col6 = 'Nhìn ra vườn'
col7 = 'Hướng nhìn sân trong'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0 and df[col7][i] == 0:
        pass
    else:
        if df[col2][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col3][i] == 1 or df[col7][i] == 1:
            df[col1][i] = 2
        if df[col6][i] == 1:
            df[col1][i] = 3
        if df[col4][i] == 1 or df[col5][i] == 1:
            df[col1][i] = 4

df.drop([col2, col3, col4, col5, col6, col7], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       2
2       2
3       2
4       2
5       2
       ..
3234    0
3235    2
3236    2
3238    0
3239    0
Name: Nhìn ra thành phố, Length: 2804, dtype: int64

In [24]:
col1 = 'Bàn ăn'
col2 = 'Khu vực phòng ăn'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    0
3235    0
3236    0
3238    1
3239    1
Name: Bàn ăn, Length: 2804, dtype: int64

In [25]:
col1 = 'Tiện nghi ủi'
col2 = 'Bàn ủi'
col3 = 'Bàn ủi li quần'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Tiện nghi ủi, Length: 2804, dtype: int64

In [26]:
col1 = 'Giường cực dài (> 2 mét)'
col2 = 'Giường sofa'
col3 = 'Giường xếp'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        df[col1][i] = 1
    else:
        if df[col3][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col2][i] == 1:
            df[col1][i] = 2

df.drop([col2, col3], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       1
2       1
3       1
4       1
5       1
       ..
3234    1
3235    1
3236    1
3238    1
3239    1
Name: Giường cực dài (> 2 mét), Length: 2804, dtype: int64

In [27]:
col1 = 'Ghế cao dành cho trẻ em'
col2 = 'Cửa an toàn cho trẻ nhỏ'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    0
3235    0
3236    0
3238    0
3239    0
Name: Ghế cao dành cho trẻ em, Length: 2804, dtype: int64

In [28]:
col1 = 'Hồ bơi trên sân thượng'
col2 = 'Hồ bơi có tầm nhìn'
col3 = 'Hồ bơi riêng'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        if df[col3][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col2][i] == 1:
            df[col1][i] = 2

df.drop([col2, col3], axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    0
3235    0
3236    0
3238    2
3239    2
Name: Hồ bơi trên sân thượng, Length: 2804, dtype: int64

In [29]:
col1 = 'Trò chơi board game/giải đố'
col2 = 'Sách'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    0
3235    0
3236    0
3238    0
3239    0
Name: Trò chơi board game/giải đố, Length: 2804, dtype: int64

In [30]:
col1 = 'Khu vực ăn uống ngoài trời'
col2 = 'Bàn ghế ngoài trời'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df[col1]
# df.rename(columns={col1 : ''})

1       0
2       0
3       0
4       0
5       0
       ..
3234    0
3235    0
3236    0
3238    0
3239    0
Name: Khu vực ăn uống ngoài trời, Length: 2804, dtype: int64

In [31]:
check_col = col1
count = 0
for i in df.index:
    if df[check_col][i] == 0:
        count += 1
print(count/len(df.index)*100)

96.96861626248217

In [32]:
df

,City,Diện tích,Đồ vệ sinh cá nhân miễn phí,Vòi sen,Áo choàng tắm,Két an toàn,Nhà vệ sinh,Khăn tắm,Bàn làm việc,Khu vực tiếp khách,...,Quạt máy,Ghế cao dành cho trẻ em,Các tầng trên chỉ lên được bằng cầu thang,Hồ bơi trên sân thượng,Trò chơi board game/giải đố,Khu vực ăn uống ngoài trời,Phòng xông hơi,Bể sục,Sân trong,price
1,Da Lat,16,1,1,0,0,1,1,1,0,...,2,0,0,0,0,0,0,0,1,399593
2,Da Lat,28,1,1,0,0,1,1,1,0,...,2,0,0,0,0,0,0,0,1,599390
3,Da Lat,20,1,1,0,0,1,1,1,0,...,2,0,0,0,0,0,0,0,1,1065596
4,Da Lat,35,1,1,0,0,1,1,1,0,...,2,0,0,0,0,0,0,0,1,799187
5,Da Lat,35,1,1,0,0,1,1,1,0,...,2,0,0,0,0,0,0,0,1,1065596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3234,Da Lat,32,1,2,0,1,1,1,1,0,...,1,0,0,0,0,0,0,0,0,365638
3235,Da Lat,34,1,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,522340
3236,Da Lat,36,1,2,0,1,1,1,1,0,...,1,0,0,0,0,0,0,0,0,598682
3238,Da Lat,30,1,2,0,0,1,1,0,1,...,1,0,0,2,0,0,0,0,0,212511
3239,Da Lat,55,1,2,0,0,1,1,0,1,...,1,0,0,2,0,0,0,0,0,425023

In [33]:
df.to_csv('dalat_new.csv', index=False)