In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('page1_out_copy.csv')
df

,City,Đồ vệ sinh cá nhân miễn phí,Vòi sen,Áo choàng tắm,Két an toàn,Nhà vệ sinh,Khăn tắm,Bàn làm việc,Khu vực tiếp khách,TV,...,Khu vực ăn uống ngoài trời,Phòng xông hơi,Toilet chung,Bàn ghế ngoài trời,Bể sục,Hồ bơi riêng,Sân trong,Hướng nhìn sân trong,Sân hiên,price
0,TP.Ho Chi Minh,29 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,2.405.000
1,TP.Ho Chi Minh,29 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,2.405.000
2,TP.Ho Chi Minh,56 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,3.055.000
3,TP.Ho Chi Minh,61 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,3.380.000
4,TP.Ho Chi Minh,290 m²,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,4.680.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347,TP.Ho Chi Minh,36 m²,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1.260.000
3348,TP.Ho Chi Minh,17 m²,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,748.475
3349,TP.Ho Chi Minh,17 m²,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,888.300
3350,TP.Ho Chi Minh,24 m²,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,970.550
3351,TP.Ho Chi Minh,20 m²,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,970.550