In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('dalat.csv')
df

,City,Đồ vệ sinh cá nhân miễn phí,Vòi sen,Áo choàng tắm,Két an toàn,Nhà vệ sinh,Khăn tắm,Bàn làm việc,Khu vực tiếp khách,TV,...,Khu vực ăn uống ngoài trời,Phòng xông hơi,Toilet chung,Bàn ghế ngoài trời,Bể sục,Hồ bơi riêng,Sân trong,Hướng nhìn sân trong,Sân hiên,price
0,Da Lat,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,399.593
1,Da Lat,16 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,399.593
2,Da Lat,28 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,599.390
3,Da Lat,20 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,1.065.596
4,Da Lat,35 m²,1,1,0,0,1,1,1,0,...,1,0,0,1,0,0,0,1,0,799.187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3524,Da Lat,34 m²,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,522.340
3525,Da Lat,36 m²,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,598.682
3526,Da Lat,TV màn hình phẳng,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,900.000
3527,Da Lat,30 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,212.511
3528,Da Lat,55 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,425.023