In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('full_data.csv')
df

,City,Diện tích,Đồ vệ sinh cá nhân miễn phí,Vòi sen,Áo choàng tắm,Két an toàn,Nhà vệ sinh,Khăn tắm,Bàn làm việc,Khu vực tiếp khách,...,Đài radio,Khu vực ăn uống ngoài trời,Phòng xông hơi,Toilet chung,Bàn ghế ngoài trời,Bể sục,Hồ bơi riêng,Sân trong,Hướng nhìn sân trong,price
0,TP.Ho Chi Minh,29 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,2.405.000
1,TP.Ho Chi Minh,29 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,2.405.000
2,TP.Ho Chi Minh,56 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,3.055.000
3,TP.Ho Chi Minh,61 m²,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,3.380.000
4,TP.Ho Chi Minh,18 m²,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,846.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14311,Da Lat,34 m²,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,522.340
14312,Da Lat,36 m²,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,598.682
14313,Da Lat,TV màn hình phẳng,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,900.000
14314,Da Lat,30 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,212.511
14315,Da Lat,55 m²,1,0,0,0,1,1,0,1,...,1,0,0,1,0,0,1,0,0,425.023

In [3]:
df.drop_duplicates(inplace=True, ignore_index=True)

In [4]:
df.duplicated().sum()

0

In [5]:
df.drop(df[df['Diện tích'].str.find('m²') == -1].index,inplace=True)

In [6]:
df[df['Diện tích'].str.find('m²') == -1]

Empty DataFrame
Columns: [City, Diện tích, Đồ vệ sinh cá nhân miễn phí, Vòi sen, Áo choàng tắm, Két an toàn, Nhà vệ sinh, Khăn tắm, Bàn làm việc, Khu vực tiếp khách, TV, Dép, Tủ lạnh, Điện thoại, Hệ thống sưởi, Máy sấy tóc, Sàn trải thảm, Ấm đun nước điện, Truyền hình cáp, Dịch vụ báo thức, Tủ hoặc phòng để quần áo, Giá treo quần áo, Nhìn ra thành phố, Bồn tắm, Điều hòa không khí, Phòng tắm riêng, TV màn hình phẳng, Hệ thống cách âm, Minibar, WiFi miễn phí, Ghế sofa, Máy fax, Phòng thay quần áo, Nhìn ra hồ bơi, Bếp, Máy giặt, Bồn tắm hoặc Vòi sen, Đồng hồ báo thức, Bàn ăn, Bồn tắm spa, Ổ điện gần giường, Toilet phụ, Dịch vụ báo thức, Giấy vệ sinh, Phòng tắm riêng trong phòng, Tiện nghi ủi, Giường cực dài (> 2 mét), Bếp nhỏ, Khu vực phòng ăn, Tầm nhìn ra khung cảnh, Truyền hình vệ tinh, Bàn ủi, Ban công, Nhìn ra sông, Quyền sử dụng Executive Lounge, Sàn lát gỗ, Ra trải giường, Không gây dị ứng, Máy pha trà/cà phê, Khăn tắm/Bộ khăn trải giường (có thu phí), Máy sấy quần áo, Nhìn ra địa danh nổi tiếng, Phòng tắm phụ, Có phòng thông nhau qua cửa nối, Chậu rửa vệ sinh (bidet), Lối vào riêng, Các tầng trên đi lên bằng thang máy, Xe lăn có thể đi đến mọi nơi trong toàn bộ khuôn viên, Nhìn ra vườn, Máy vi tính, Giường sofa, Giá phơi quần áo, Két an toàn cỡ laptop, Giường xếp, Quạt máy, Chăn điện, Sản phẩm lau rửa, Ghế cao dành cho trẻ em, Cửa an toàn cho trẻ nhỏ, Máy pha Cà phê, Sàn lát gạch/đá cẩm thạch, Bàn ủi li quần, Hoàn toàn nằm ở tầng trệt, Các tầng trên chỉ lên được bằng cầu thang, Nắp che ổ cắm điện an toàn, Đồ bếp, Đầu đĩa CD, Máy điều hòa độc lập cho từng phòng, Nước rửa tay, Đầu đĩa DVD, Hồ bơi trên sân thượng, Ổ cắm cho iPod, Hồ bơi có tầm nhìn, Trò chơi board game/giải đố, Sách,  đĩa DVD và nhạc cho trẻ em, Có lắp đặt máy lọc không khí, Thiết bị báo carbon monoxide, Lò vi sóng, Máy nướng bánh mỳ, ...]
Index: []

[0 rows x 113 columns]

In [7]:
df.loc[:, ['Ổ điện gần giường', 'Không gây dị ứng', 'Nắp che ổ cắm điện an toàn', 'Ổ cắm cho iPod', 'Giấy vệ sinh']]

,Ổ điện gần giường,Không gây dị ứng,Nắp che ổ cắm điện an toàn,Ổ cắm cho iPod,Giấy vệ sinh
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,0,0,0
3,1,0,0,0,1
4,1,0,0,0,1
...,...,...,...,...,...
12740,1,0,0,0,1
12741,1,0,0,0,1
12742,1,0,0,0,1
12744,1,0,0,0,1
12745,1,0,0,0,1

In [8]:
# Dịch vụ báo thức2
drop_cols = ['Ổ điện gần giường', 'Không gây dị ứng', 'Nắp che ổ cắm điện an toàn', 'Ổ cắm cho iPod', 'Giấy vệ sinh', 'Dép', 'Dịch vụ báo thức', 'Đồng hồ báo thức', 'Ra trải giường', 'Lối vào riêng', 'Chăn điện', 'Sản phẩm lau rửa', 'Hoàn toàn nằm ở tầng trệt', 'Đầu đĩa CD', 'Nước rửa tay', 'Đầu đĩa DVD', ' đĩa DVD và nhạc cho trẻ em', 'Thiết bị báo carbon monoxide', 'Đài radio', 'Dịch vụ báo thức']
df.drop(drop_cols, axis=1, inplace=True)

In [9]:
len(df.iloc[0, :])

93

In [10]:
df['Diện tích'] = df['Diện tích'].str[:-3]
df['Diện tích'] = pd.to_numeric(df['Diện tích'], errors='coerce')
df = df.rename(columns={'Diện tích' : 'dien_tich_m2'})
df['dien_tich_m2']

0        29
1        56
2        61
3        18
4        24
         ..
12740    32
12741    34
12742    36
12744    30
12745    55
Name: dien_tich_m2, Length: 11910, dtype: int64

In [11]:
df['price'] = df['price'].str.replace('.', '')
df['price'] = pd.to_numeric(df['price'],errors='coerce')
df['price']

0        2405000
1        3055000
2        3380000
3         846000
4         846000
          ...
12740     365638
12741     522340
12742     598682
12744     212511
12745     425023
Name: price, Length: 11910, dtype: int64

In [12]:
len(df.index)

11910

In [13]:
col1 = 'Truyền hình cáp'
col2 = 'Truyền hình vệ tinh'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'dich_vu_truyen_hinh'})
df['dich_vu_truyen_hinh']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: dich_vu_truyen_hinh, Length: 11910, dtype: int64

In [14]:
col1 = 'Máy pha trà/cà phê'
col2 = 'Máy pha Cà phê'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'may_pha_tra_cf'})
df['may_pha_tra_cf']

0        0
1        0
2        0
3        0
4        0
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: may_pha_tra_cf, Length: 11910, dtype: int64

In [15]:
col1 = 'Bếp'
col2 = 'Bếp nhỏ'
col3 = 'Đồ bếp'
col4 = 'Bếp nấu'
col5 = 'Lò vi sóng'
col6 = 'Máy nướng bánh mỳ'
col7 = 'Lò nướng'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0 and df[col7][i] == 0:
        pass
    else:
        if df[col5][i] == 1:
            if df[col6][i] == 1:
                if df[col7][i] == 1:
                    df[col1][i] = 3
                else:
                    df[col1][i] = 2
            else:
                df[col1][i] = 1
        else:
            df[col1][i] = 1


df.drop([col2, col3, col4, col5, col6, col7], axis=1, inplace=True)
df = df.rename(columns={col1 : 'bep_an'})
df['bep_an']

0        0
1        0
2        0
3        0
4        0
        ..
12740    0
12741    0
12742    0
12744    0
12745    0
Name: bep_an, Length: 11910, dtype: int64

In [16]:
col1 = 'Vòi sen'
col2 = 'Bồn tắm'
col3 = 'Bồn tắm hoặc Vòi sen'
col4 = 'Bồn tắm spa'
col5 = 'Phòng tắm riêng trong phòng'
col6 = 'Phòng tắm phụ'
col7 = 'Phòng tắm riêng'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0 and df[col7][i] == 0:
        df[col1][i] = 1
    else:
        if df[col2][i] == 1 or df[col3][i] == 1 or df[col5][i] == 1 or df[col6][i] == 1 or df[col7][i] == 1:
            df[col1][i] = 2
        elif df[col4][i] == 1:
            df[col1][i] = 3
        else:
            df[col1][i] = 1

df.drop([col2, col3, col4, col5, col6, col7], axis=1, inplace=True)
df = df.rename(columns={col1 : 'phong_tam'})
df['phong_tam']

0        2
1        2
2        2
3        2
4        2
        ..
12740    2
12741    2
12742    2
12744    2
12745    2
Name: phong_tam, Length: 11910, dtype: int64

In [17]:
col1 = 'Két an toàn'
col2 = 'Két an toàn cỡ laptop'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        if df[col2][i] == 1:
            df[col1][i] = 2

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'ket_sat'})
df['ket_sat']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    0
12745    0
Name: ket_sat, Length: 11910, dtype: int64

In [18]:
col1 = 'Nhà vệ sinh'
col2 = 'Toilet phụ'
col3 = 'Toilet chung'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'toilet'})
df['toilet']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: toilet, Length: 11910, dtype: int64

In [19]:
col1 = 'TV'
col2 = 'TV màn hình phẳng'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'TV'})
df['TV']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: TV, Length: 11910, dtype: int64

In [20]:
col1 = 'Quạt máy'
col2 = 'Điều hòa không khí'
col3 = 'Hệ thống sưởi'
col4 = 'Máy điều hòa độc lập cho từng phòng'
col5 = 'Có lắp đặt máy lọc không khí'
col6 = 'Lò sưởi'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0:
        pass
    else:
        if df[col2][i] == 1 or df[col4][i] == 1:
            df[col1][i] = 2
        if df[col3][i] == 1 or df[col6][i] == 1:
            df[col1][i] = 3
        if df[col5][i] == 1:
            df[col1][i] = 4


df.drop([col2, col3, col4, col5, col6], axis=1, inplace=True)
df = df.rename(columns={col1 : 'dieu_hoa'})
df['dieu_hoa']

0        3
1        3
2        3
3        2
4        2
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: dieu_hoa, Length: 11910, dtype: int64

In [21]:
col1 = 'Sàn trải thảm'
col2 = 'Sàn lát gạch/đá cẩm thạch'
col3 = 'Sàn lát gỗ'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        if df[col2][i] == 1:
            df[col1][i] = 2
        if df[col3][i] == 1:
            df[col1][i] = 3

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'lot_san'})
df['lot_san']

0        1
1        1
2        1
3        0
4        0
        ..
12740    3
12741    3
12742    3
12744    0
12745    0
Name: lot_san, Length: 11910, dtype: int64

In [22]:
col1 = 'Tủ hoặc phòng để quần áo'
col2 = 'Giá treo quần áo'
col3 = 'Phòng thay quần áo'
col4 = 'Giá phơi quần áo'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3, col4], axis=1, inplace=True)
df = df.rename(columns={col1 : 'tu_quan_ao'})

In [23]:
col1 = 'Nhìn ra thành phố'
col2 = 'Nhìn ra hồ bơi'
col3 = 'Tầm nhìn ra khung cảnh'
col4 = 'Nhìn ra sông'
col5 = 'Nhìn ra địa danh nổi tiếng'
col6 = 'Nhìn ra vườn'
col7 = 'Hướng nhìn sân trong'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0 and df[col4][i] == 0 and df[col5][i] == 0 and df[col6][i] == 0 and df[col7][i] == 0:
        pass
    else:
        if df[col2][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col3][i] == 1 or df[col7][i] == 1:
            df[col1][i] = 2
        if df[col6][i] == 1:
            df[col1][i] = 3
        if df[col4][i] == 1 or df[col5][i] == 1:
            df[col1][i] = 4

df.drop([col2, col3, col4, col5, col6, col7], axis=1, inplace=True)
df = df.rename(columns={col1 : 'view'})
df['view']

0        2
1        2
2        2
3        0
4        0
        ..
12740    0
12741    2
12742    2
12744    0
12745    0
Name: view, Length: 11910, dtype: int64

In [24]:
col1 = 'Bàn ăn'
col2 = 'Khu vực phòng ăn'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'ban_an'})
df['ban_an']

0        0
1        0
2        0
3        0
4        0
        ..
12740    0
12741    0
12742    0
12744    1
12745    1
Name: ban_an, Length: 11910, dtype: int64

In [25]:
col1 = 'Tiện nghi ủi'
col2 = 'Bàn ủi'
col3 = 'Bàn ủi li quần'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'ui_quan_ao'})
df['ui_quan_ao']

0        0
1        0
2        0
3        0
4        0
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: ui_quan_ao, Length: 11910, dtype: int64

In [26]:
col1 = 'Giường cực dài (> 2 mét)'
col2 = 'Giường sofa'
col3 = 'Giường xếp'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        df[col1][i] = 1
    else:
        if df[col3][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col2][i] == 1:
            df[col1][i] = 2

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'giuong'})
df['giuong']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: giuong, Length: 11910, dtype: int64

In [27]:
col1 = 'Ghế cao dành cho trẻ em'
col2 = 'Cửa an toàn cho trẻ nhỏ'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'tien_ich_cho_tre_em'})
df['tien_ich_cho_tre_em']

0        0
1        0
2        0
3        0
4        0
        ..
12740    0
12741    0
12742    0
12744    0
12745    0
Name: tien_ich_cho_tre_em, Length: 11910, dtype: int64

In [28]:
col1 = 'Hồ bơi trên sân thượng'
col2 = 'Hồ bơi có tầm nhìn'
col3 = 'Hồ bơi riêng'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0 and df[col3][i] == 0:
        pass
    else:
        if df[col3][i] == 1:
            df[col1][i] = 1
        if df[col1][i] == 1 or df[col2][i] == 1:
            df[col1][i] = 2

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'ho_boi'})

In [29]:
col1 = 'Trò chơi board game/giải đố'
col2 = 'Sách'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'tien_ich_giai_tri'})
df['tien_ich_giai_tri']

0        0
1        0
2        0
3        0
4        0
        ..
12740    0
12741    0
12742    0
12744    0
12745    0
Name: tien_ich_giai_tri, Length: 11910, dtype: int64

In [30]:
col1 = 'Khu vực ăn uống ngoài trời'
col2 = 'Bàn ghế ngoài trời'
for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    else:
        df[col1][i] = 1

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'outdoor_area'})
df['outdoor_area']

0        0
1        0
2        0
3        0
4        0
        ..
12740    0
12741    0
12742    0
12744    0
12745    0
Name: outdoor_area, Length: 11910, dtype: int64

In [31]:
col1 = 'Áo choàng tắm'
col2 = 'Khăn tắm'
col3 = 'Khăn tắm/Bộ khăn trải giường (có thu phí)'

for i in df.index:
    if df[col1][i] == 0 and df[col2][i] == 0:
        pass
    if df[col3][i] == 1:
        df[col1][i] = 0
    if df[col1][i] == 1 or df[col2][i] == 1:
        df[col1][i] = 1

df.drop([col2, col3], axis=1, inplace=True)
df = df.rename(columns={col1 : 'tien_ich_phong'})
df['tien_ich_phong']

0        1
1        1
2        1
3        1
4        1
        ..
12740    1
12741    1
12742    1
12744    1
12745    1
Name: tien_ich_phong, Length: 11910, dtype: int64

In [32]:
col1 = 'Các tầng trên đi lên bằng thang máy'
col2 = 'Các tầng trên chỉ lên được bằng cầu thang'

df.drop(col2, axis=1, inplace=True)
df = df.rename(columns={col1 : 'co_thang_may'})
df['co_thang_may']

0        0
1        0
2        0
3        0
4        0
        ..
12740    1
12741    1
12742    1
12744    0
12745    0
Name: co_thang_may, Length: 11910, dtype: int64

In [33]:
df = df.rename(columns={'Xe lăn có thể đi đến mọi nơi trong toàn bộ khuôn viên' : 'ho_tro_xe_lan', 'Có phòng thông nhau qua cửa nối' : 'connecting_room', 'Quyền sử dụng Executive Lounge' : 'executive_lounge', 'Ban công' : 'balcony', 'Máy giặt' : 'may_giat', 'Máy fax' : 'may_fax', 'Ghế sofa' : 'ghe_sofa', 'WiFi miễn phí' : 'free_wifi', 'Minibar' : 'minibar', 'Đồ vệ sinh cá nhân miễn phí' : 'free_do_vs_ca_nhan', 'Bàn làm việc' : 'working_table', 'Khu vực tiếp khách' : 'khu_vuc_tiep_khach', 'Tủ lạnh' : 'tu_lanh', 'Điện thoại' : 'dien_thoai', 'Máy sấy tóc' : 'may_say_toc', 'Ấm đun nước điện' : 'am_dun_nuoc', 'Hệ thống cách âm' : 'cach_am', 'Chậu rửa vệ sinh (bidet)' : 'chau_rua_vs_bidet', 'Máy vi tính' : 'may_vi_tinh', 'Máy sấy quần áo' : 'may_say_quan_ao', 'Phòng xông hơi' : 'phong_xong_hoi', 'Bể sục' : 'be_suc', 'Sân trong' : 'san_trong'})

In [56]:
check_col = 'be_suc'
count = 0
for i in df.index:
    if df[check_col][i] == 1:
        count += 1
print(count/len(df.index)*100)

3.3921074727120066

In [57]:
df

,City,dien_tich_m2,free_do_vs_ca_nhan,phong_tam,tien_ich_phong,ket_sat,toilet,working_table,khu_vuc_tiep_khach,TV,...,may_vi_tinh,dieu_hoa,tien_ich_cho_tre_em,ho_boi,tien_ich_giai_tri,outdoor_area,phong_xong_hoi,be_suc,san_trong,price
0,TP.Ho Chi Minh,29,1,2,1,1,1,1,1,1,...,0,3,0,0,0,0,0,0,0,2405000
1,TP.Ho Chi Minh,56,1,2,1,1,1,1,1,1,...,0,3,0,0,0,0,0,0,0,3055000
2,TP.Ho Chi Minh,61,1,2,1,1,1,1,1,1,...,0,3,0,0,0,0,0,0,0,3380000
3,TP.Ho Chi Minh,18,1,2,1,1,1,1,0,1,...,0,2,0,0,0,0,0,0,0,846000
4,TP.Ho Chi Minh,24,1,2,1,1,1,1,0,1,...,0,2,0,0,0,0,0,0,0,846000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12740,Da Lat,32,1,2,1,1,1,1,0,1,...,0,1,0,0,0,0,0,0,0,365638
12741,Da Lat,34,1,2,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,522340
12742,Da Lat,36,1,2,1,1,1,1,0,1,...,0,1,0,0,0,0,0,0,0,598682
12744,Da Lat,30,1,2,1,0,1,0,1,1,...,0,1,0,2,0,0,0,0,0,212511
12745,Da Lat,55,1,2,1,0,1,0,1,1,...,0,1,0,2,0,0,0,0,0,425023

In [34]:
df.to_csv('full_data_new_1.csv', index=False)